*{
  background-color: #282c34;
  color:white
}

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #282c34;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

input{
  width: 200px;
  height: 40px;
  border-radius:5px;
  margin:10px;
  padding-left:10px;
  font-size: medium;
  border:0;
  background-color:white;
  color:black
}

button{
  width: 100px;
  height: 40px;
  border-radius:5px;
  margin:10px;
  font-size: medium;
  padding:0;
  background-color:rgb(6, 108, 240);
  color: white;
  border:0;
  cursor: pointer;
}

button:hover{
  background-color:rgb(4, 96, 218);
}

ul{
  margin:10px;
  list-style: none;
}

li{
  padding: 10px;
}

a{
  color:rgb(132, 200, 209)
}

a:visited{
  color:rgb(132, 200, 209)
}

span{
  color:darkcyan;
  font-style: italic;
}

div{
  margin-top:40px
}